*{
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

header {
  background: url(../img/AdobeStock_309379877.jpeg)center/cover;
  height: 100vh;
  position: relative;
}

header nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 26px;
  position: fixed;
  z-index: 100;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  padding-inline: 10px;
  gap: 30px;
  background-color: rgba( 15,13,14,0.7);
}

nav li a{
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

nav li a:hover {
  color: #67bb3c;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 600px;
}

header h1 {
  margin-bottom: 30px;
  font-size: 2.5em;
  text-align: center;
  color: #fff;
  background: rgba( 15,13,14,0.6);
}

header h2 {
  margin: 0 auto;
  width: 40%;
  font-size: 3.5em;
  color: #fff;
  text-align: center;
  background-color: rgba( 15,13,14,0.6);
  margin-bottom: 50px;
  letter-spacing: 5px;
}

header .btn {
  font-size: 32px;
  background-color: #339900;
  color: #fff;
  border-radius: 8px;
  font-size: 24px;
  padding: 3% 6%;
}

main {
  position: relative;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 40px;
}

#news {
  padding-block: 80px 40px;
  background: #d7e6cd;
}

main h2 {
  width: 100px;
  text-align: center;
  margin-block: 10px 50px;
  background: linear-gradient(transparent 50%,#67bb3c 60%)
}

.box-left, .box-right {
  display: flex;
  border-bottom: 1px solid black;
  font-size: 16px;
  padding-inline: 5%;
  margin-top: 20px;
}

.slide-left {
  animation: slide-left 2s ease-out forwards;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slide-right 2s ease-out forwards;
}

@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.day {
  width: 20%;
  text-align: left;
}

.guidance{
  width: 80%;
  text-align: left;
}

#about {
  padding-block: 80px 40px;
}

.img-box ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-block: 25px;
}

.img-box ul li {
  width: 30%;
}

article P {
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  padding-inline: 3%;
}

#menu {
  padding-block: 80px 40px;
  position: relative;
  background: #d7e6cd;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.menu-list + .menu-list {
  margin-top: 50px;
}

.menu-box {
  width: 55%;
}

.menu-box h3 {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5em;
  margin-bottom: 30px;
}

.menu-list dl {
  display: flex;
  width: 75%;  
  margin: 0 auto;
}

.menu-list dt {
  width: 40%;
}

.menu-pay {
  width: 35%;
}

.menu-list dd {
  width: 25%;
}

.rev {
  flex-direction: row-reverse;
  padding-bottom: 100px;
}

.menu-img {
  width: 45%;
  height: 300px;
  object-fit: cover;
}

#menu .btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%,0%);
  font-size: 32px;
  background-color: #339900;
  color: #fff;
  border-radius: 8px;
  font-size: 24px;
  padding: 1% 3%;
  margin-bottom: 40px;
}

#access {
  /* margin-top: 50px; */
  padding-block: 80px 40px;

}

#access h2 {
  letter-spacing: 1px;
}

.access-img {
  width: 80%;
  margin: 0 auto 40px;
}

#access ul {
  display: flex;
  justify-content: space-between;
}

#access li {
  width: calc(100% / 2);
}

#access .shop {
  display: flex;
  justify-content: center;
  align-items: center;
}

#access dl {
  width: 75%;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
}

#access dt {
  width: 35%;
  text-align: right;
  padding-right: 5%;
  letter-spacing: 5px;
}

#access dd {
  width: 65%;
  text-align: left; 
}

.map {
  margin: 20px 10px;
  border: 1px solid #000;
  height: 300px;
}

footer {
  height: 300px;
  background: #808080;
  color: #fff;
  text-align: center;
}

footer h2 {
  font-size: 40px;
  letter-spacing: 1.5;
  line-height: 276px;
}

small {
  font-size: 14px;
}


@media (max-width: 800px) {
  .hamburger {
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    background-color: #333;
  }
  
  .hamburger span {
    display: block;
    width: 50%;
    height: 3px;
    background-color: #fff;
    transition: all 0.5s;
    position: absolute;
    left: 25%;
  }
  
  .hamburger span:nth-child(1) {
    top: 35%;
  }
  
  .hamburger span:nth-child(2) {
    top: 50%;
  }
  
  .hamburger span:nth-child(3) {
    top: 65%;
  }
  
  .hamburger:hover {
    opacity: 0.7;
  }
  
  .open .hamburger span:nth-child(1) {
    top: 50%;
    transform: rotate( -45deg);
  }
  
  .open .hamburger span:nth-child(2),
  .open .hamburger span:nth-child(3) {
    top: 50%;
    transform: rotate( 45deg);
  }

  .mask {
    display: none;
    transition: all .5s ;
  }

  .open .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #333;
    opacity: 0.7;
    display: block;
    z-index: 15;
  }

  nav {
    width: 150px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -100px;
    bottom: 0; 
    transition: all .5s;
    opacity: 0;
    z-index: 100;
  }

  .open nav {
    opacity: 1;
    left: 0;
  }

  nav .header-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
  }
  
  nav li a{
    color: #333;
  }

  nav li a:hover {
    color: #339900;
  }

    
  nav ul {
    flex-direction: column;
  }

  .container {
    width: 100%;
    padding: 0 4%;
  }

  .box-left, .box-right {
    flex-direction: column;
    gap: 20px;
  }

    .content img {
    width: 100%;
  }
  
  .img-box {
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 30px;
  }

  .img-box ul {
    flex-direction: column;
  }

  .img-box ul li {
    width: 100%;
  }

  .img-box .fade li img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }

  .img-box .fade li {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    animation: fade 15s infinite;
  }
  
  .img-box .fade li:nth-child(1) {
    animation-delay: 0s;
  } 
  
  .img-box .fade li:nth-child(2) {
    animation-delay: 5s;
  }
  
  .img-box .fade li:nth-child(3) {
    animation-delay: 10s;
  }
  
  .img-box .fade li::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 15px 15px #fff;
  }  
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
  
    15% {
      opacity: 1;
    }
  
    30% {
      opacity: 1;
    }
  
    45% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  }

  .guidance{
    width: 100%;
  }

  .day {
    width: 100%;
  }

  .menu-list {
    flex-direction: column;
  }

  .menu-box h3 {
    margin-bottom: 20px;
  }

  .menu-list dl {
    width: 100%; 
  }
  
  .menu-img {
    width: 80%;
    margin-top: 30px;
  }

  #access ul {
    flex-direction: column;
  }

  #access li {
    width: 100%;
    margin-bottom: 40px;
  }
  
  
}

@media (max-width: 600px) {
  .menu-list div::after {
    visibility: hidden;
  }

  .header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 300px;
  }

  .menu-box {
    width: 100%;
  }

  #access dl {
    width: 100%;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
    
  }
  
  #access dt {
    width: 100%;
    text-align: right;
    padding-right: 5%;
    letter-spacing: 5px;
  }
  
  #access dd {
    width: 100%;
    text-align: left; 
  }
}